

    {% load static %}

        {% if messages %}
        <script>
            document.addEventListener('DOMContentLoaded', function () {
                '{% for message in messages %}'
                    alert('{{ message|escapejs }}'); 
                '{% endfor %}'
            });
        </script>
        {% endif %}

    <!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Basic signup Form</title>
        <link rel="stylesheet" href="{% static 'accounts/style.css' %}">
    </head>
    <body>
        <div class="login-container">
            <div class="login-card">
                <div class="login-header">
                    <h2> Reset Password </h2>
                    <p></p>
                </div>
                {% block content %}
                
                {% endblock %}
                <div class="success-message" id="successMessage">
                    <div class="success-icon">✓</div>
                    <h3>Sign up Successful!</h3>
                    <p>Redirecting to your dashboard...</p>
                </div>
            </div>
        </div>
    </body>
    </html>